SUPABASE_DB_HOST=db.ztfbfoltszacmldsikzf.supabase.co
SUPABASE_DB_PORT=5432
SUPABASE_DB_NAME=postgres
SUPABASE_DB_USERNAME=postgres
SUPABASE_DB_PASSWORD=xxxxxxxxxxxxx

JWT_SECRET=xxxxxxxxxxxxxxxxxxxxxxx