.Wrapper {
  background-color: #f7f8fa;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding-top: 32px;
  padding-bottom: 32px;
  border-bottom: 2px solid #eceff2;
}
.Heading {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.35;
  color: #0f2340;
  text-align: center;
  font-family: Inter;
  max-width: 400px;
  margin-bottom: 8px;
}
.Cards {
  display: flex;
  flex-direction: row;
  gap: 28px;
  align-items: center;
  justify-content: center;
}
.Btn {
  position: relative;
  overflow: hidden;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 7px;

  font-family: Inter;
  font-size: 12px;
  padding: 9px 16px;

  font-weight: 700;

  border: 2px solid #eceff2;
  border-radius: 6px;

  background-color: #ffffff;
  color: #028181;

  cursor: pointer;

  z-index: 1;
}

.Btn::before {
  content: "";

  position: absolute;

  left: 0;

  width: 0%;
  height: 100%;
  border-radius: 4px;
  background-color: #028181;

  transition: width 0.5s ease-in;

  z-index: -1;
}

.Btn:hover {
  color: #ffffff;
  border-color: #028181;
}

.Btn:hover::before {
  width: 100%;
}
